:root {
  --font-primary: hsl(229, 6%, 66%);
  --font-secondary: hsl(234, 12%, 34%);
  --bg-primary: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: var(--font-primary);
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-primary);
}

body main {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 522px;
  text-align: center;
}

body main .header h1 {
  font-size: 32px;
  color: var(--font-secondary);
}

body main .header h1:nth-child(2) {
  font-weight: 600;
  margin-bottom: 1rem;
}

body main .header p {
  font-size: 16px;
}

body main .cards {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "card1 card2 card4" "card1 card3 card4";
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

body main .cards .card {
  width: 350px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0px 0px 34px rgba(76, 78, 97, 0.15);
          box-shadow: 0px 0px 34px rgba(76, 78, 97, 0.15);
  padding: 35px;
  border-radius: 5px;
}

body main .cards .card h1 {
  font-weight: 600;
  color: var(--font-secondary);
  font-size: 18px;
  margin-bottom: 20px;
}

body main .cards .card p {
  font-size: 13px;
}

body main .cards .card .icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main .cards .card:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-top: 4px solid #45d3d3;
}

body main .cards .card:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-top: 4px solid #ea5353;
}

body main .cards .card:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-top: 4px solid #fcaf4a;
}

body main .cards .card:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: card4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-top: 4px solid #549ef2;
}

@media only screen and (max-width: 1200px) {
  main .cards {
    grid-row-gap: 0 !important;
        grid-template-areas: "card1 card3" "card2 card4" !important;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  main .cards .card:nth-child(1) {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  main .cards .card:nth-child(2) {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  main .cards .card:nth-child(3) {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  main .cards .card:nth-child(4) {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
}

@media only screen and (max-width: 790px) {
  body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
  }
  main {
    padding: 5vh 0;
  }
  main .header {
    margin-bottom: 5vh;
    width: 80%;
    max-width: 570px;
  }
  main .header h1 {
    font-size: 24px !important;
  }
  main .header p {
    font-size: 14px !important;
  }
  main .cards {
    width: 90% !important;
    justify-items: center;
    grid-row-gap: 30px !important;
        grid-template-areas: "card4" "card2" "card3" "card1" !important;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    -ms-grid-rows: (1fr)[4] !important;
        grid-template-rows: repeat(4, 1fr) !important;
  }
  main .cards .card {
    width: 90% !important;
    max-width: 500px;
    height: 210px !important;
  }
  main .cards .card p {
    max-width: 340px;
  }
  main .cards .card .icon {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  main .cards .card .icon img {
    height: 66%;
  }
}
/*# sourceMappingURL=style.css.map */